openapi: 3.1.0
info:
  title: Depop Web API (unofficial)
  version: reverse-engineered-2026-06-08
  description: >
    Reverse-engineered from depop.com browser traffic (see README). Operational,
    not a stable contract. The standard OpenAPI parts (paths, params, enums,
    array style) are valid OpenAPI 3.1; the browser-replay specifics live in
    the x-depop-* extensions, which conformant validators ignore.

servers:
  - url: https://www.depop.com

# --- replay choreography (depop extension) --------------------------------
# Depop's webapi sits behind Cloudflare Bot Management (JA3/JA4 fingerprinting),
# so requests must go through a browser-impersonating transport.
# Depop sits behind a Cloudflare *managed challenge* (a JS interstitial), which
# TLS impersonation can't solve — so run requests through the extension's
# authenticated tab instead. See docs/BROWSER-PROXY.md.
x-depop-replay:
  via_browser: true
  retry_on: [429, 503]
  recapture_on: [401, 419]
  rate_limit:
    requests_per_minute: 30

# --- how a captured session becomes a live request -------------------------
# access_token + user_id are captured from depop.com cookies (see auth.manifest).
# The depop-* ids are client-generated per request.
x-depop-auth:
  required_fields: [access_token, user_id]
  # After capture, depop calls this cheap read-only op once to confirm the
  # session actually works (not just that the cookies are present), and stores
  # the real result in the credential. A 401/419 here means re-login.
  verify:
    operationId: me
  headers:
    authorization: "Bearer ${auth.access_token}"
    x-user-id: "${auth.user_id}"
    depop-device-id: "${uuid}"
    depop-session-id: "${uuid}"
    depop-search-id: "${uuid}"
    # Replay the full warmed browser cookie jar (incl. any Cloudflare clearance)
    # so the request looks like the logged-in session, not a cold client.
    cookie: "${auth.cookie_header}"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: []

paths:
  # =========================================================================
  # Search products — the main command
  # =========================================================================
  /presentation/api/v1/search/products/:
    get:
      operationId: search
      x-depop-command: search
      summary: Search Depop listings.
      description: >
        Cursor-paginated product search. Filters mirror the website's filter
        bar (category, brand, price, size, colour, condition, sort, on-sale).
        `sizes` / `categories` / `brandIds` accept either the wire id or a
        human label (resolved against the filter-metadata endpoints).
      x-depop-result: objects
      parameters:
        - name: what
          in: query
          required: true
          description: Search text, e.g. "holiday knit jumper men".
          schema: { type: string }

        - name: limit
          in: query
          description: Results per page (default 24).
          schema: { type: integer, default: 24, minimum: 1, maximum: 100 }

        - name: after
          in: query
          description: Pagination cursor (page_info.last from the previous page).
          schema: { type: string }

        - name: country
          in: query
          description: Country code, e.g. us / gb.
          schema: { type: string, default: us }

        - name: currency
          in: query
          schema: { type: string, default: USD }

        # --- filters -------------------------------------------------------
        - name: categories
          in: query
          description: Category filter (repeatable). Department or product-type id.
          explode: true
          schema: { type: array, items: { type: string } }
          x-depop-resolve:
            from: categoryFilters
            value_path: categoryFilters[].children[].id
            label_path: categoryFilters[].children[].name

        - name: brandIds
          in: query
          description: Brand filter (repeatable). Numeric brand id or brand name.
          explode: true
          schema: { type: array, items: { type: string } }
          x-depop-resolve:
            from: brandsById
            value_path: brands[].id
            label_path: brands[].name

        - name: sizes
          in: query
          description: Size filter (repeatable). Composite size id or label (e.g. "M").
          explode: true
          schema: { type: array, items: { type: string } }
          x-depop-resolve:
            from: sizeFilters
            value_path: "[].children[].children[].composite_id"
            label_path: "[].children[].children[].name"

        - name: colours
          in: query
          description: Colour filter (repeatable).
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                [
                  black, grey, white, brown, tan, cream, yellow, red, burgundy,
                  orange, pink, purple, blue, navy, green, khaki, gold, silver,
                  multi, clear,
                ]

        - name: conditions
          in: query
          description: Condition filter (repeatable).
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                [
                  brand_new,
                  used_like_new,
                  used_excellent,
                  used_good,
                  used_fair,
                ]

        - name: priceMin
          in: query
          description: Minimum price (in the search currency).
          schema: { type: number, minimum: 0 }

        - name: priceMax
          in: query
          description: Maximum price (in the search currency).
          schema: { type: number, minimum: 0 }

        - name: isDiscounted
          in: query
          description: Only show items that are on sale.
          schema: { type: boolean }

        - name: sortBy
          in: query
          description: Sort order (default relevance).
          schema:
            type: string
            enum: [relevance, priceAscending, priceDescending, newlyListed]
      responses:
        "200":
          description: A page of matching products.
          content:
            application/json: {}
        "401":
          description: Auth expired or rejected.

  # =========================================================================
  # Current user
  # =========================================================================
  /api/v1/users/{user_id}/:
    get:
      operationId: me
      x-depop-command: me
      summary: Show the logged-in user's profile.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Defaults to your captured user id.
          schema: { type: string, default: "${auth.user_id}" }
      responses:
        "200": { description: User profile. }

  # =========================================================================
  # List an item — a multi-step workflow (upload pics → poll → create listing)
  # The workflow itself is a synthetic path; its steps call the real endpoints.
  # =========================================================================
  /x-depop/list:
    post:
      operationId: list
      x-depop-command: list
      summary: List an item for sale.
      description: >
        Uploads each photo, waits for processing, then creates the listing.
        Photos must already be square JPEGs (the depop-list-item skill handles
        HEIC→JPEG + cropping). Use --dry-run to preview the request bodies
        without uploading or posting.
      x-depop-args:
        - { name: photo, description: "image file (repeatable, first = cover)", required: true, multiple: true }
        - { name: brand, description: "brand slug, e.g. polo-ralph-lauren", required: true }
        - { name: department, description: "menswear / womenswear / kidswear / everything-else", required: true,
            enum: [menswear, womenswear, kidswear, everything-else] }
        - { name: type, description: "product type, e.g. tshirts / jumpers / jeans", required: true }
        - { name: size, description: "human size, e.g. M (omit for one-size)" }
        - { name: condition, description: "item condition", required: true,
            enum: [brand_new, used_like_new, used_excellent, used_good, used_fair] }
        - { name: colour, description: "colour (repeatable, up to 2)", required: true, multiple: true }
        - { name: price, description: "numeric price, e.g. 25", required: true }
        - { name: currency, description: "default USD" }
        - { name: description, description: "listing text (include #hashtags inline, max 5)", required: true }
        - { name: age, description: "e.g. y2k (repeatable, up to 1)", multiple: true }
        - { name: style, description: "e.g. streetwear (repeatable, up to 3)", multiple: true }
        - { name: source, description: "e.g. preloved (repeatable, up to 2)", multiple: true }
        - { name: variant-set, description: "size set id (derived from department/type)",
            x-depop-resolve: { from: "file:reference/categories.json", keyed: true, value_path: size_set_us,
                                key_template: "${args.department}/${args.type}" } }
        # Variant member id within the size set — the second half of the size
        # mapping (variant-set is the set; this is the member within it). Keyed
        # by "<size_set>/<size>" so it resolves only after variant-set above.
        # Empty when no --size (one-size items) → variants stays {}.
        - { name: variant, description: "size variant id (derived from size set + size)",
            x-depop-resolve: { from: "file:reference/size_variants.json", keyed: true,
                                key_template: "${args.variant-set}/${args.size}" } }
        - { name: address-id, description: "ship-from address id", required: true }
        - { name: address, description: 'e.g. "San Francisco, United States"', required: true }
        - { name: lat, description: "geo latitude", required: true }
        - { name: lng, description: "geo longitude", required: true }
        - { name: gender, description: "male / female / unisex (derived from department)",
            x-depop-resolve: { from: "file:reference/department_gender.json", keyed: true,
                                key_template: "${args.department}" } }
        - { name: parcel-size, description: "small/medium/large/xl/xxl (default medium)" }
      x-depop-workflow:
        result: createListing
        steps:
          # 1. Request an upload slot per photo (returns a presigned S3 URL).
          #    The /api/* picture endpoints live on the webapi host, NOT www
          #    (www serves the Next.js app and 404s these paths) — so override
          #    the URL explicitly. The /presentation/* paths (search, listing)
          #    stay on the www base URL.
          - id: slots
            operationId: uploadPicture
            foreach: "${args.photo}"
            as: photo
            request:
              url: "https://webapi.depop.com/api/v4/pictures/"
              body: { type: product, extension: jpg, dimensions: { width: 1280, height: 1280 } }
            output: { path: url }

          # 2. PUT the bytes to S3 (presigned → no auth, direct transport).
          #    Iterate over the photos so ${item} is each photo path, and pair
          #    it with its slot URL positionally via ${steps.slots.${index}}.
          - id: uploads
            operationId: s3Put
            foreach: "${args.photo}"
            as: photo
            request:
              url: "${steps.slots.${index}}"
              no_auth: true
              headers: { content-type: image/jpeg }
              body: "${file:item}"

          # 3. Derive the numeric picture id from each slot URL. The id is the
          #    digits before "_<sid>/P0.jpg" in the presigned S3 URL, e.g.
          #    .../3928044106_9da0d44.../P0.jpg → 3928044106. validate wants
          #    these as JSON numbers, so coerce. (Pure transform: no HTTP call.)
          - id: pictureIds
            foreach: "${steps.slots}"
            value: "${item}"
            output: { extract: "/(\\d+)_[a-f0-9]+/P0\\.jpg", coerce: number }

          # 4. Validate the uploaded pictures (fire once). On the webapi host.
          - id: validate
            operationId: validatePictures
            request:
              url: "https://webapi.depop.com/internal/v1/pictures/validate/"
              body: { picture_ids: "${steps.pictureIds}" }

          # 5. Poll the batch endpoint until every picture has finished
          #    processing (each id maps to an object with a populated `url`).
          #    The {ids} path param is the comma-joined id list. webapi host.
          - id: pollPictures
            operationId: pictureBatch
            request:
              url: "https://webapi.depop.com/api/v1/pictures/batch/${steps.pictureIds}/"
            poll:
              until: "${steps.pollPictures.${steps.pictureIds.0}.url}"
              attempts: 20
              delay_ms: 1500

          # 6. Create the listing — picture_ids carries the processed ids.
          - id: createListing
            operationId: createListing
            request:
              url: "https://webapi.depop.com/presentation/api/v1/listing/products/"
              body:
                brand: "${args.brand}"
                colour: "${args.colour}"
                condition: "${args.condition}"
                description: "${args.description}"
                gender: "${args.gender}"
                is_kids: false
                country: US
                address: "${args.address}"
                # Depop wants numeric lat/lng, address id, and variant_set — cast
                # them so they serialize as JSON numbers, not strings.
                geo_position_lat: "${num:args.lat}"
                geo_position_lng: "${num:args.lng}"
                price_amount: "${args.price}"
                price_currency: "${args.currency|USD}"
                product_type: "${args.type}"
                national_shipping_cost: "0.00"
                shipping_methods:
                  - payer: buyer
                    parcel_size: "${args.parcel-size|medium}"
                    shipping_provider_id: USPS
                    ship_from_address_id: "${num:args.address-id}"
                attributes: {}
                age: "${args.age|[]}"
                style: "${args.style|[]}"
                source: "${args.source|[]}"
                # Boost is pinned OFF. depop never enables a paid/free boost on
                # a listing by itself; making it a real choice is separate work,
                # and until then the safe value is the one that costs nothing and
                # surprises nobody. Do not template this off a flag.
                boost: { status: inactive }
                variant_set: "${num:args.variant-set}"
                # Size mapping: variants is { <member-id>: quantity }. The runner
                # drops object entries whose key resolves empty, so a one-size
                # item (no --size → empty variant) yields variants: {}. When a
                # variant is present Depop wants quantity: null (the variant map
                # holds the count); the empty-string key below renders to null.
                variants:
                  "${args.variant}": 1
                quantity: null
                picture_ids: "${steps.pictureIds}"
                listing_lifecycle_id: "${uuid}"
                persistent_id: "${uuid}"
      responses:
        "201": { description: Listing created. }

  # =========================================================================
  # Update a listing — reverse-engineered from a real edit captured on
  # depop.com (2026-08-13, listing 864568398 via the seller edit form).
  #
  # The web app REPLACES the listing. It reads the whole product, then PUTs the
  # whole object back with every field present, picture_ids included:
  #
  #   PUT https://webapi.depop.com/presentation/api/v1/products/by-slug/<slug>/
  #   -> 204 No Content (empty body)
  #
  # Keyed by SLUG, not by the numeric product id. There is no partial write, so
  # this flow reads the listing first and merges the user's flags over it
  # (request.base). Anything omitted from a PUT is cleared, which is why the
  # base carries picture_ids: an edit that forgot them would drop every photo.
  #
  # The read does not echo the write's field names. The capture settled these:
  #   variant_set_id                    -> variant_set
  #   shipping_methods[].parcel_size_id -> shipping_methods[].parcel_size
  #   pictures[{id}]                    -> picture_ids[]
  #   location                          -> address
  #   pricing.original_price.total_price-> price_amount
  #   pricing.currency                  -> price_currency
  #
  # address / geo_position_* are absent from the read entirely. The web app
  # recomputes them from the listing's country against its own static countries
  # asset, so this flow does the same from reference/country_geo.json. Depop's
  # own edit form therefore resets a listing's coordinates to the country
  # centroid on every save; matching that is matching reality.
  #
  # No boost field appears in an edit payload at all. Boosting is a separate
  # endpoint (/presentation/api/v1/boost/shop/) that depop never calls.
  #
  # Not editable here, and why:
  #   photos       picture_ids are preserved verbatim; replacing them needs the
  #                upload pipeline and is tracked separately.
  #   parcel size  national_shipping_cost is derived from it by Depop (medium ->
  #                3.99 on the captured listing). Changing one without the other
  #                would advertise the wrong shipping price, and picking the new
  #                cost needs a lookup this flow cannot express yet.
  #   is_kids      moving a listing into or out of kidswear needs is_kids sent
  #                alongside the department, which has no mapping here yet.
  # =========================================================================
  /x-depop/update:
    post:
      operationId: update
      x-depop-command: update
      summary: Update an existing listing (all fields except photos).
      description: >
        Reads the listing, applies the flags you passed, and PUTs the whole
        object back the way Depop's own edit form does. Fields you leave out
        keep their current values. Takes the listing slug positionally, e.g.
        `depop update dudu-bear-asics-gel-1130-543c --price 110`. The
        slug is the last path segment of the listing URL.
      x-depop-args:
        - { name: slug, description: "listing slug, the last path segment of the listing URL", required: true }
        - { name: price, description: "new numeric price, e.g. 110" }
        # Amount and currency are one price on the listing: switching the
        # currency alone would keep the number and silently reprice the item.
        - { name: currency, description: "price currency, e.g. GBP", requires: [price] }
        - { name: description, description: "listing text (include #hashtags inline, max 5)" }
        - { name: brand, description: "brand slug, e.g. onitsuka-tiger" }
        - { name: condition, description: "item condition",
            enum: [brand_new, used_like_new, used_excellent, used_good, used_fair] }
        - { name: colour, description: "colour (repeatable, up to 2) — replaces the current colours", multiple: true }
        # Department and product type are one category on the listing: the size
        # set is derived from the pair, and department alone would reach the wire
        # as nothing but a changed gender.
        - { name: department, description: "menswear / womenswear / kidswear / everything-else", requires: [type],
            enum: [menswear, womenswear, kidswear, everything-else] }
        - { name: type, description: "product type, e.g. tshirts / jumpers / trainers", requires: [department] }
        # Size travels as a variant id derived from department+type, and the
        # stock count lives inside that same variants map, so a quantity change
        # has to restate the size it belongs to.
        - { name: size, description: "human size, e.g. M", requires: [department, type] }
        - { name: quantity, description: "stock count for the size being set", requires: [size] }
        - { name: age, description: "e.g. y2k (repeatable, up to 1)", multiple: true }
        - { name: style, description: "e.g. streetwear (repeatable, up to 3)", multiple: true }
        - { name: source, description: "e.g. preloved (repeatable, up to 2)", multiple: true }
        # Location is one group on the wire. Left alone, it stays at whatever
        # the listing's country resolves to, exactly as the web form sets it.
        - { name: address, description: 'e.g. "San Francisco, United States"', requires: [lat, lng] }
        - { name: lat, description: "geo latitude", requires: [address, lng] }
        - { name: lng, description: "geo longitude", requires: [address, lat] }
        - { name: address-id, description: "ship-from address id (the rest of the shipping block is kept)" }
        # Derived exactly as in the list workflow: department/type → size set,
        # then size set + size → the variant member id, and department → gender.
        - { name: variant-set, description: "size set id (derived from department/type)",
            x-depop-resolve: { from: "file:reference/categories.json", keyed: true, value_path: size_set_us,
                                key_template: "${args.department}/${args.type}" } }
        - { name: variant, description: "size variant id (derived from size set + size)",
            x-depop-resolve: { from: "file:reference/size_variants.json", keyed: true,
                                key_template: "${args.variant-set}/${args.size}" } }
        - { name: gender, description: "male / female / unisex (derived from department)",
            x-depop-resolve: { from: "file:reference/department_gender.json", keyed: true,
                                key_template: "${args.department}" } }
      x-depop-workflow:
        # The PUT answers 204 with no body, so the command returns a fresh read
        # of the listing instead: confirmation of what it now looks like.
        result: verify
        steps:
          # 1. Read the listing exactly as the edit form does.
          - id: current
            operationId: getListingForEdit
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/edit-listing/"

          # 2. The write wants bare picture ids; the read gives objects.
          #    Preserving these is what keeps an edit from wiping the photos.
          - id: pictureIds
            foreach: "${steps.current.pictures}"
            value: "${item.id}"

          # 3. Depop's own country -> address/coordinates table, indexed below by
          #    the listing's own country (which is only known after step 1).
          - id: countryGeo
            file: "reference/country_geo.json"

          # 4. Replace the listing: base is what it is now, body is the change.
          - id: updateListing
            operationId: updateListing
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/"
              # No flags means no edit. Refuse rather than rewrite the listing
              # with itself.
              require_body: true
              base:
                description: "${steps.current.description}"
                brand: "${steps.current.brand}"
                condition: "${steps.current.condition}"
                colour: "${steps.current.colour}"
                style: "${steps.current.style}"
                age: "${steps.current.age}"
                source: "${steps.current.source}"
                gender: "${steps.current.gender}"
                is_kids: "${steps.current.is_kids}"
                product_type: "${steps.current.product_type}"
                variant_set: "${steps.current.variant_set_id}"
                variants: "${steps.current.variants}"
                picture_ids: "${steps.pictureIds}"
                price_amount: "${steps.current.pricing.original_price.total_price}"
                price_currency: "${steps.current.pricing.currency}"
                national_shipping_cost: "${steps.current.national_shipping_cost}"
                country: "${steps.current.country}"
                address: "${steps.countryGeo.${steps.current.country}.address}"
                geo_position_lat: "${steps.countryGeo.${steps.current.country}.geoLat}"
                geo_position_lng: "${steps.countryGeo.${steps.current.country}.geoLng}"
                attributes: "${steps.current.attributes|{}}"
                # Guarded on the listing actually having a shipping block, so a
                # listing without one doesn't get an empty one invented for it.
                "${steps.current.shipping_methods.0.payer:+shipping_methods}":
                  - payer: "${steps.current.shipping_methods.0.payer}"
                    parcel_size: "${steps.current.shipping_methods.0.parcel_size_id}"
                    shipping_provider_id: "${steps.current.shipping_methods.0.shipping_provider_id}"
                    ship_from_address_id: "${steps.current.shipping_methods.0.ship_from_address_id}"
              body:
                description: "${?args.description}"
                brand: "${?args.brand}"
                condition: "${?args.condition}"
                colour: "${?args.colour}"
                style: "${?args.style}"
                age: "${?args.age}"
                source: "${?args.source}"
                gender: "${?args.gender}"
                product_type: "${?args.type}"
                variant_set: "${?num:args.variant-set}"
                price_amount: "${?args.price}"
                price_currency: "${?args.currency}"
                address: "${?args.address}"
                geo_position_lat: "${?num:args.lat}"
                geo_position_lng: "${?num:args.lng}"
                # Size and stock live in one map, sent whole or not at all.
                "${args.variant:+variants}":
                  "${args.variant}": "${num:args.quantity|1}"
                # Only the ship-from address is editable here; the rest of the
                # block is carried over so a change can't reset the parcel size.
                "${args.address-id:+shipping_methods}":
                  - payer: "${steps.current.shipping_methods.0.payer}"
                    parcel_size: "${steps.current.shipping_methods.0.parcel_size_id}"
                    shipping_provider_id: "${steps.current.shipping_methods.0.shipping_provider_id}"
                    ship_from_address_id: "${num:args.address-id}"

          # 5. Read it back, since the PUT itself says nothing.
          - id: verify
            operationId: getListingForEdit
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/edit-listing/"
      responses:
        "204": { description: Listing replaced. }

  # =========================================================================
  # Discount a listing — reverse-engineered from the seller hub's Bulk Actions
  # "Discount" tool (depop.com/sellinghub/selling/active/, 2026-08-16).
  #
  # Unlike `update`, the discount is NOT part of the product object at all: it
  # lives on a wholly separate resource, keyed by the numeric product id (not
  # the slug). This is why `update`'s replacing PUT (see above) cannot drop a
  # listing's sale — there was never a discount field in that payload to
  # begin with. That resolves the open question the `update` capture left:
  # editing a discounted listing is safe.
  #
  #   PATCH https://webapi.depop.com/api/v2/discounts/
  #   body: [{ "product_id": <int>, "discount_percentage": <int> }]
  #   -> 200 {"products":[{"product_id":...,"undiscounted_price":"130.00",
  #                         "discounted_price":"97.50","discount_percentage":25,
  #                         "discount_type":"PERCENTAGE"}]}
  #
  # The UI's slider only allows 5%-95% in steps of 5 (input min=5 max=95
  # step=5) — not a free integer. Percentages are always taken off the
  # ORIGINAL price, never the current (already-discounted) one: applying a new
  # percentage replaces the old discount rather than stacking on it (the UI
  # warns "adding this discount will replace any existing discount on these
  # items"). Removing a sale is the exact same PATCH with
  # discount_percentage: 0 — Depop has no separate delete endpoint, confirmed
  # live via the seller hub's "Remove Discount" button.
  #
  # Keyed by product id, so this flow reads the listing first (the same
  # getListingForEdit the update workflow uses) purely to resolve slug -> id;
  # nothing else from that read is needed, since the PATCH response already
  # carries the resulting prices.
  # =========================================================================
  /x-depop/discount:
    post:
      operationId: discount
      x-depop-command: discount
      summary: Set or remove a listing's sale discount.
      description: >
        Sets the percentage off a listing's original price, or removes an
        existing discount. Takes the listing slug positionally, e.g. `depop
        discount dudu-bear-asics-gel-1130-543c --percent 20`. Pass `--percent
        0` to remove the discount and restore the original price.
      x-depop-args:
        - { name: slug, description: "listing slug, the last path segment of the listing URL", required: true }
        - { name: percent, required: true,
            description: "percent off the original price, 5-95 in steps of 5 (0 removes the discount)",
            enum: ["0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95"] }
      x-depop-workflow:
        result: setDiscount.products.0
        steps:
          # 1. Resolve slug -> numeric product id (the discount endpoint has no
          #    concept of a slug).
          - id: current
            operationId: getListingForEdit
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/edit-listing/"

          # 2. The write itself. Single-element array, matching the seller
          #    hub's bulk-action shape even for one listing.
          - id: setDiscount
            operationId: setDiscount
            request:
              url: "https://webapi.depop.com/api/v2/discounts/"
              body:
                - product_id: "${num:steps.current.id}"
                  discount_percentage: "${num:args.percent}"
      responses:
        "200": { description: Resulting discount state for the listing. }

  # =========================================================================
  # Offers — reverse-engineered from the seller hub's Offers page
  # (depop.com/sellinghub/offers/, captured live 2026-08-17), plus the
  # individual-offers read fixed live on 2026-08-20 (issue #14).
  #
  #   GET  /presentation/api/v1/offers/me/products/          per-listing summary
  #   GET  /presentation/api/v1/products/<pid>/offers/        individual offers on one listing
  #        ?active=true&include_size=true&variant_id=<n>
  #   GET  /api/v1/user/likes/notifications/                  likers (send-offer candidates)
  #   POST /presentation/api/v1/products/<pid>/offers/<oid>/  answer one offer
  #        body: {"seller_response": "ACCEPT"}                (DECLINE inferred, not shipped)
  #   POST /presentation/api/v1/offers/<oid>/                 counter one offer — a DIFFERENT
  #        endpoint (no product_id); body unconfirmed, see below
  #
  # Offers are scoped to a product *and a variant* (size) — the UI routes as
  # /sellinghub/offers/<pid>/?variantId=<n> — but the write keys off product id
  # alone.
  #
  # `offer_id` is a UUID string, not an integer like every other id in this
  # spec. `offer_count` on the summary is also a STRING and saturates: a
  # listing with more than ten offers reports "10+", not a number. Neither is
  # safe to coerce.
  #
  # The write endpoint is one operation discriminated by `seller_response`.
  # Only ACCEPT is shipped, because only ACCEPT was captured; DECLINE is
  # inferred and deliberately not shipped.
  #
  # COUNTER is a DIFFERENT endpoint, not a `seller_response` value on
  # `offerRespond` — confirmed live 2026-08-20 (countered willfrmphill's real
  # $60.00 offer to $64.00 via the seller hub UI):
  #   POST https://webapi.depop.com/presentation/api/v1/offers/<offer_id>/
  # No `product_id` in the path, unlike `offerRespond`. Recovered from the
  # page's Performance Timing API after the browser extension's own network
  # logger failed to capture the request (a known tooling gap — the fetch
  # wasn't seen by the extension's monkeypatch, root cause unconfirmed). The
  # exact JSON body is therefore still unknown — see the TBD placeholder at
  # `/x-depop/offer-counter` below. Next attempt: open Chrome DevTools' Network
  # tab with "Preserve log" on *before* clicking Counter, so the request
  # survives even if the tab or extension capture misses it.
  #
  # The read afterward shows what changes: `offer_display_status` gains a
  # `COUNTER_SENT` value, `offer_value` and `sellers_lowest_offer_value` both
  # become the countered amount (not the buyer's original offer),
  # `offerers_highest_offer_value` keeps the buyer's original offer,
  # `can_make_counter_offer` goes back to false, and `expires_at` resets to a
  # fresh ~24h window.
  #
  # THE READ BUG (issue #14): GET .../products/<pid>/offers/ (no query params,
  # or `variant_id` alone) 400s when replayed through the browser proxy, even
  # though the identical request succeeds in a real browser tab. Every
  # single-param and multi-param combination tried before 2026-08-20 failed;
  # the fix, confirmed live against depop.com/sellinghub in Chrome (read-only,
  # not through the CLI), is passing THREE query params together:
  # active=true&include_size=true&variant_id=<n>. `variant_id` is the same
  # value the summary endpoint already reports per product_id — see
  # `offer-list` below for how it's resolved without asking the caller for it.
  #
  # Response of the individual-offers read: {product_id, product_description,
  # product_created_on, picture_data, prices: {original_price,
  # discounted_price, current_price}, variant_set, variant_id, size,
  # listing_stats: {created_date, likes_count, recent_offers_count},
  # offers: [{offer_id, offerer_id, offerer_username, offerer_first_name,
  # offer_value, offer_currency, expires_at, offer_display_status,
  # can_make_counter_offer, sellers_lowest_offer_value}]}. offer_display_status
  # observed: RECEIVED, SENT_PRIVATE_OFFER, ACCEPTED; can_make_counter_offer is
  # true only on RECEIVED.
  #
  # NOT IMPLEMENTED, tracked in issues: sending offers to all likers.
  #
  # Accepting is NOT exclusive: it neither cancels nor expires the other offers
  # on the listing, and a listing can hold several accepted offers at once
  # (observed live — two accepted offers coexisted on one single-quantity
  # item). Whoever completes checkout first presumably wins. Nothing in the API
  # guards against overselling.
  # =========================================================================
  /x-depop/offers:
    post:
      operationId: offers
      x-depop-command: offers
      summary: List every listing of yours that has offers.
      description: >
        The Offers page's "Review offers" column: one row per listing+variant
        with an offer count, not the offers themselves. Use `depop offer-list
        <slug>` to see the individual offers on one listing. Note `offer_count`
        is a string and reads "10+" once a listing passes ten offers.
      x-depop-workflow:
        result: mine.objects
        steps:
          - id: mine
            operationId: myOffers
            request:
              url: "https://webapi.depop.com/presentation/api/v1/offers/me/products/"
      responses:
        "200": { description: One row per listing with offers. }

  /x-depop/offer-list:
    post:
      operationId: offerList
      x-depop-command: offer-list
      summary: List the individual offers on one listing.
      description: >
        Reads every offer on one listing, not just the count `depop offers`
        gives you — e.g. `depop offer-list dudu-bear-new-balance-1906r-a1b2`.
        Returns each offer's id (uuid, the id `offer-accept` takes; a shipped
        `offer-counter` will take it too, once its body is confirmed), the
        offerer, the offered amount, its status, and whether it can still be
        countered — plus the listing's own current price and offer/like
        counts for context.
        The read is scoped to a product *and* a variant (size); this command
        resolves the variant for you from `depop offers`'s summary, so it works
        without you knowing the internal variant id. If the listing currently
        has no open offers at all it won't be in that summary, and the command
        fails rather than guessing. A listing with offers on more than one
        size only resolves one variant, so offers on the others may be missed.
      x-depop-args:
        - { name: slug, description: "listing slug, the last path segment of the listing URL", required: true }
      x-depop-workflow:
        result: read
        steps:
          # 1. Resolve slug -> numeric product id (same as offer-accept/discount/update).
          - id: current
            operationId: getListingForEdit
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/edit-listing/"

          # 2. The individual-offers read needs variant_id as a query param and
          #    there is no other endpoint that gives it for a known product id;
          #    the per-listing summary already carries it, so re-fetch that and
          #    look this listing up in it by product id.
          - id: mine
            operationId: myOffers
            request:
              url: "https://webapi.depop.com/presentation/api/v1/offers/me/products/"

          # 3. Pure transform: pick this product's row out of the summary.
          - id: variant
            value: "${steps.mine.objects[product_id=${steps.current.id}].variant_id}"

          # 4. The actual read. active=true + include_size=true + variant_id
          #    together are what clear the 400 (see the block comment above) —
          #    captured live 2026-08-20.
          - id: read
            operationId: offersOnListing
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/${steps.current.id}/offers/?active=true&include_size=true&variant_id=${steps.variant}"
      responses:
        "200": { description: "The listing's individual offers, plus its current price/likes/offer-count context." }

  /x-depop/offer-accept:
    post:
      operationId: offerAccept
      x-depop-command: offer-accept
      summary: Accept a buyer's offer.
      description: >
        Accepts one or more offers on a listing, e.g. `depop offer-accept
        dudu-bear-new-balance-1906r-a1b2 --offer 7bf8388b-f5f4-4a02-a6c9-5c387163e1d3`.
        Accepting gives the buyer roughly 24 hours to complete checkout.
        Offer ids are UUIDs — get them from `depop offer-list <slug>`.
        This is a real sale and there is no undo. It also does NOT cancel the
        listing's other offers — accepting several offers on a one-of-one item
        will oversell it.
      x-depop-args:
        - { name: slug, description: "listing slug, the last path segment of the listing URL", required: true }
        - { name: offer, description: "offer id (uuid), from `depop offer-list` — repeatable", required: true, multiple: true }
      x-depop-workflow:
        result: accept
        steps:
          - id: current
            operationId: getListingForEdit
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/by-slug/${args.slug}/edit-listing/"

          # One POST per offer. Note foreach has no error tolerance: a failure
          # on the third of five aborts the run with the first two already
          # accepted.
          - id: accept
            operationId: offerRespond
            foreach: "${args.offer}"
            request:
              url: "https://webapi.depop.com/presentation/api/v1/products/${steps.current.id}/offers/${item}/"
              body:
                seller_response: ACCEPT
      responses:
        "200": { description: The accepted offer(s). }

  # =========================================================================
  # offer-decline — NOT SHIPPED. Deliberately absent, same reasoning as before
  # (issue #14): guessing `seller_response: DECLINE` on `offerRespond` seemed
  # low-risk because it mirrors the proven ACCEPT shape, but COUNTER turning
  # out to be a wholly different endpoint (see above) means "answer this
  # offer" actions can't be assumed to share a shape without their own live
  # capture. Wait for one before adding this back.
  #
  # offer-counter — TBD, gated on a live capture (issue #14). The endpoint is
  # confirmed (see the block comment above `/x-depop/offers`): POST
  # https://webapi.depop.com/presentation/api/v1/offers/<offer_id>/, no
  # product_id. The JSON body is NOT confirmed — do not guess the price field
  # name. This block is a structural placeholder only, its workflow step has
  # no body at all yet. Fill in from a future capture:
  #   - the request body field name for the countered price (maybe
  #     `offer_value`, `counter_offer_value`, `price`... unknown)
  #   - whether currency needs to be sent explicitly or is implicit
  #   - the exact response shape (the read-after shows `offer_display_status:
  #     COUNTER_SENT` and `offer_value`/`sellers_lowest_offer_value` set to
  #     the countered amount, but that's `offer-list`'s read, not this
  #     endpoint's own response — capture that separately)
  # =========================================================================
  /x-depop/offer-counter:
    post:
      operationId: offerCounter
      x-depop-command: offer-counter
      summary: Counter a buyer's offer with a new price.
      description: >
        TBD — the endpoint is confirmed live but its request body is not.
        Placeholder only; do not ship until the real body shape is confirmed
        (see the block comment above).
      x-depop-args:
        - { name: slug, description: "listing slug, the last path segment of the listing URL", required: true }
        - { name: offer, description: "offer id (uuid), from `depop offer-list`", required: true }
        - { name: price, description: "TBD — countered price; wire field name unconfirmed until live capture", required: true }
      x-depop-workflow:
        result: counter
        steps:
          - id: counter
            operationId: offerCounterRespond
            request:
              url: "https://webapi.depop.com/presentation/api/v1/offers/${args.offer}/"
              # TBD_BODY: { <price field>: "${args.price}" }   # fill in after capture
      responses:
        "200": { description: The countered offer. }

  /x-depop/likers:
    post:
      operationId: likers
      x-depop-command: likers
      summary: List buyers who liked your items and can be sent an offer.
      description: >
        The Offers page's "Send offers" column — buyers who liked one of your
        items but haven't offered. Account-wide: the endpoint takes no listing
        filter, so each entry carries its own `product`, and filtering to one
        listing is the caller's job. Cursor-paginated via `meta.cursor` /
        `meta.hasMore`, which this command does not follow.
      x-depop-workflow:
        result: likes.actionableLikes
        steps:
          - id: likes
            operationId: likeNotifications
            request:
              url: "https://webapi.depop.com/api/v1/user/likes/notifications/"
      responses:
        "200": { description: Likers eligible for an offer. }

  /presentation/api/v1/listing/products/:
    post:
      operationId: createListing
      x-depop-hidden: true
      summary: Create the listing (final step of the list workflow).
      responses:
        "201": { description: Listing created. }

  # The two halves of an edit, both keyed by slug and both on the webapi host.
  /presentation/api/v1/products/by-slug/{slug}/edit-listing/:
    get:
      operationId: getListingForEdit
      x-depop-hidden: true
      summary: Read a listing the way the seller edit form does.
      description: >
        The read half of an edit. Returns the listing's current field values,
        which the update workflow merges the user's changes into. Note the read
        and write field names differ (variant_set_id vs variant_set, pictures vs
        picture_ids); the update workflow maps between them.
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: The listing as the edit form sees it. }

  /presentation/api/v1/products/by-slug/{slug}/:
    put:
      operationId: updateListing
      x-depop-hidden: true
      summary: Replace the listing (the write half of the update workflow).
      description: >
        Replaces the whole product. Every field must be present or it is
        cleared, picture_ids included. Answers 204 with no body.
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Listing replaced. No body. }

  /api/v2/discounts/:
    patch:
      operationId: setDiscount
      x-depop-hidden: true
      summary: Set or clear a listing's discount by product id (bulk-shaped, one element).
      description: >
        The seller hub's "Discount" bulk action. Body is an array (even for a
        single listing): `[{ product_id, discount_percentage }]`.
        discount_percentage: 0 removes the discount; any other value replaces
        it (never stacks on an existing one).
      responses:
        "200": { description: Resulting discount state per product. }

  # --- offers ---------------------------------------------------------------
  /presentation/api/v1/offers/me/products/:
    get:
      operationId: myOffers
      x-depop-hidden: true
      summary: Listings of yours that have offers, with a per-listing count.
      description: >
        `{objects, page_info}`, the same envelope as search. Each object is
        `{product_id, picture_data, description, price_amount, price_currency,
        variant_set, variant_id, offer_count}`. `offer_count` is a string and
        saturates at "10+"; it is not a number. `offer-list` matches this array
        by `product_id` to resolve the `variant_id` the individual-offers read
        needs.
      responses:
        "200": { description: One row per listing with offers. }

  /presentation/api/v1/products/{product_id}/offers/:
    get:
      operationId: offersOnListing
      x-depop-hidden: true
      summary: Read every offer on one listing (product + variant).
      description: >
        400s with no extra query params, or with `variant_id` alone (cause
        unknown); the fix — active=true&include_size=true&variant_id together —
        was captured live against a real browser session on 2026-08-20 (issue
        #14; see the block comment above `/x-depop/offers`). `variant_id` isn't
        validated against `product_id` on the wire but is required regardless;
        pass the value `myOffers` reports for this product.
      parameters:
        - { name: product_id, in: path, required: true, schema: { type: string } }
        - { name: active, in: query, schema: { type: boolean } }
        - { name: include_size, in: query, schema: { type: boolean } }
        - { name: variant_id, in: query, schema: { type: string } }
      responses:
        "200": { description: "The listing's offers, plus product/price/stats context." }

  /presentation/api/v1/products/{product_id}/offers/{offer_id}/:
    post:
      operationId: offerRespond
      x-depop-hidden: true
      summary: Accept one offer.
      description: >
        Discriminated by the body's `seller_response`. Captured live only as
        `{"seller_response": "ACCEPT"}` (200, updated offer object,
        `offer_display_status: ACCEPTED`, `expires_at` pushed ~24h out, plus
        `offerers_highest_offer_value`). DECLINE is NOT shipped: it was
        assumed to mirror this shape, but COUNTER turning out to be a wholly
        different endpoint (see `offerCounterRespond` below) means that
        assumption can't be trusted without its own live capture. The seller
        hub fires this with no confirmation step of its own.
      parameters:
        - { name: product_id, in: path, required: true, schema: { type: string } }
        - { name: offer_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: The updated offer. }

  /presentation/api/v1/offers/{offer_id}/:
    post:
      operationId: offerCounterRespond
      x-depop-hidden: true
      summary: Counter one offer with a new price — TBD, endpoint confirmed, body is not.
      description: >
        A DIFFERENT endpoint from `offerRespond` (no `product_id` in the
        path) — confirmed live 2026-08-20 by countering a real $60.00 offer to
        $64.00 through the seller hub UI, but the request body was not
        captured: the browser extension's network logger didn't see the fetch
        (root cause unconfirmed), and the URL itself was only recovered
        afterward from `performance.getEntriesByType("resource")`. Do not
        guess the body. Next attempt: open Chrome DevTools' Network tab with
        "Preserve log" on before clicking Counter, so the request survives
        even if the extension's own capture misses it again. The read
        afterward (`offer-list`) shows `offer_display_status: COUNTER_SENT`
        and `offer_value`/`sellers_lowest_offer_value` set to the countered
        amount — but that's a different endpoint's response, not this one's.
      parameters:
        - { name: offer_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: The updated offer. Shape unconfirmed. }

  /api/v1/user/likes/notifications/:
    get:
      operationId: likeNotifications
      x-depop-hidden: true
      summary: Buyers who liked your items and can be sent an offer.
      description: >
        `{meta: {cursor, hasMore}, actionableLikes: [{isNew, date, sender:
        {id, username, firstName, lastName, country}, product: {id, ...}}]}`.
        Cursor-paginated; account-wide, with no per-listing filter.
      responses:
        "200": { description: Likers eligible for an offer. }

  /api/v4/pictures/:
    post:
      operationId: uploadPicture
      x-depop-hidden: true
      summary: Request an S3 upload slot for a product picture.
      responses:
        "201": { description: Presigned upload URL. }

  # Synthetic op for the S3 PUT step (URL comes from the slot; host differs).
  /s3-put:
    put:
      operationId: s3Put
      x-depop-hidden: true
      summary: PUT image bytes to a presigned S3 URL.
      responses:
        "200": { description: Uploaded. }

  /internal/v1/pictures/validate/:
    post:
      operationId: validatePictures
      x-depop-hidden: true
      summary: Validate uploaded pictures.
      responses:
        "200": { description: Validation accepted. }

  /api/v1/pictures/batch/{ids}/:
    get:
      operationId: pictureBatch
      x-depop-hidden: true
      summary: Poll picture processing status.
      parameters:
        - { name: ids, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Picture batch status. }

  # =========================================================================
  # Filter-metadata endpoints — hidden from the CLI, used by x-depop-resolve
  # =========================================================================
  /presentation/api/v1/search/sizeFilters/:
    get:
      operationId: sizeFilters
      x-depop-hidden: true
      summary: Size taxonomy (department → category → size-set → size).
      responses:
        "200": { description: Size filter tree. }

  /api/v3/search/categoryFilters/:
    get:
      operationId: categoryFilters
      x-depop-hidden: true
      summary: Category taxonomy (department → product category).
      responses:
        "200": { description: Category filter tree. }

  /api/v2/search/attributes/brands/byId/:
    get:
      operationId: brandsById
      x-depop-hidden: true
      summary: Brand id ↔ name lookup.
      responses:
        "200": { description: Brand list. }

  /api/v2/search/filters/filterProductAttributes/:
    get:
      operationId: filterAttributes
      x-depop-hidden: true
      summary: Condition + colour attribute metadata.
      parameters:
        - name: country
          in: query
          schema: { type: string, default: en }
      responses:
        "200": { description: Condition and colour vocabularies. }
