openapi: 3.1.0
info:
  title: Depop Web API (unofficial)
  version: reverse-engineered-2026-06-08
  description: >
    Reverse-engineered from depop.com browser traffic (see README). Operational,
    not a stable contract. The standard OpenAPI parts (paths, params, enums,
    array style) are valid OpenAPI 3.1; the browser-replay specifics live in
    the x-mastro-* extensions, which conformant validators ignore.

servers:
  - url: https://www.depop.com

# --- replay choreography (mastro extension) --------------------------------
# Depop's webapi sits behind Cloudflare Bot Management (JA3/JA4 fingerprinting),
# so requests must go through a browser-impersonating transport.
# Depop sits behind a Cloudflare *managed challenge* (a JS interstitial), which
# TLS impersonation can't solve — so run requests through the extension's
# authenticated tab instead. See docs/BROWSER-PROXY.md.
x-mastro-replay:
  via_browser: true
  retry_on: [429, 503]
  recapture_on: [401, 419]
  rate_limit:
    requests_per_minute: 30

# --- how a captured session becomes a live request -------------------------
# access_token + user_id are captured from depop.com cookies (see auth.manifest).
# The depop-* ids are client-generated per request.
x-mastro-auth:
  required_fields: [access_token, user_id]
  # After capture, mastro calls this cheap read-only op once to confirm the
  # session actually works (not just that the cookies are present), and stores
  # the real result in the credential. A 401/419 here means re-login.
  verify:
    operationId: me
  headers:
    authorization: "Bearer ${auth.access_token}"
    x-user-id: "${auth.user_id}"
    depop-device-id: "${uuid}"
    depop-session-id: "${uuid}"
    depop-search-id: "${uuid}"
    # Replay the full warmed browser cookie jar (incl. any Cloudflare clearance)
    # so the request looks like the logged-in session, not a cold client.
    cookie: "${auth.cookie_header}"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: []

paths:
  # =========================================================================
  # Search products — the main command
  # =========================================================================
  /presentation/api/v1/search/products/:
    get:
      operationId: search
      x-mastro-command: search
      summary: Search Depop listings.
      description: >
        Cursor-paginated product search. Filters mirror the website's filter
        bar (category, brand, price, size, colour, condition, sort, on-sale).
        `sizes` / `categories` / `brandIds` accept either the wire id or a
        human label (resolved against the filter-metadata endpoints).
      x-mastro-result: objects
      parameters:
        - name: what
          in: query
          required: true
          description: Search text, e.g. "holiday knit jumper men".
          schema: { type: string }

        - name: limit
          in: query
          description: Results per page (default 24).
          schema: { type: integer, default: 24, minimum: 1, maximum: 100 }

        - name: after
          in: query
          description: Pagination cursor (page_info.last from the previous page).
          schema: { type: string }

        - name: country
          in: query
          description: Country code, e.g. us / gb.
          schema: { type: string, default: us }

        - name: currency
          in: query
          schema: { type: string, default: USD }

        # --- filters -------------------------------------------------------
        - name: categories
          in: query
          description: Category filter (repeatable). Department or product-type id.
          explode: true
          schema: { type: array, items: { type: string } }
          x-mastro-resolve:
            from: categoryFilters
            value_path: categoryFilters[].children[].id
            label_path: categoryFilters[].children[].name

        - name: brandIds
          in: query
          description: Brand filter (repeatable). Numeric brand id or brand name.
          explode: true
          schema: { type: array, items: { type: string } }
          x-mastro-resolve:
            from: brandsById
            value_path: brands[].id
            label_path: brands[].name

        - name: sizes
          in: query
          description: Size filter (repeatable). Composite size id or label (e.g. "M").
          explode: true
          schema: { type: array, items: { type: string } }
          x-mastro-resolve:
            from: sizeFilters
            value_path: "[].children[].children[].composite_id"
            label_path: "[].children[].children[].name"

        - name: colours
          in: query
          description: Colour filter (repeatable).
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                [
                  black, grey, white, brown, tan, cream, yellow, red, burgundy,
                  orange, pink, purple, blue, navy, green, khaki, gold, silver,
                  multi, clear,
                ]

        - name: conditions
          in: query
          description: Condition filter (repeatable).
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                [
                  brand_new,
                  used_like_new,
                  used_excellent,
                  used_good,
                  used_fair,
                ]

        - name: priceMin
          in: query
          description: Minimum price (in the search currency).
          schema: { type: number, minimum: 0 }

        - name: priceMax
          in: query
          description: Maximum price (in the search currency).
          schema: { type: number, minimum: 0 }

        - name: isDiscounted
          in: query
          description: Only show items that are on sale.
          schema: { type: boolean }

        - name: sortBy
          in: query
          description: Sort order (default relevance).
          schema:
            type: string
            enum: [relevance, priceAscending, priceDescending, newlyListed]
      responses:
        "200":
          description: A page of matching products.
          content:
            application/json: {}
        "401":
          description: Auth expired or rejected.

  # =========================================================================
  # Current user
  # =========================================================================
  /api/v1/users/{user_id}/:
    get:
      operationId: me
      x-mastro-command: me
      summary: Show the logged-in user's profile.
      parameters:
        - name: user_id
          in: path
          required: true
          description: Defaults to your captured user id.
          schema: { type: string, default: "${auth.user_id}" }
      responses:
        "200": { description: User profile. }

  # =========================================================================
  # List an item — a multi-step workflow (upload pics → poll → create listing)
  # The workflow itself is a synthetic path; its steps call the real endpoints.
  # =========================================================================
  /x-mastro/list:
    post:
      operationId: list
      x-mastro-command: list
      summary: List an item for sale.
      description: >
        Uploads each photo, waits for processing, then creates the listing.
        Photos must already be square JPEGs (the depop-list-item skill handles
        HEIC→JPEG + cropping). Use --dry-run to preview the request bodies
        without uploading or posting.
      x-mastro-args:
        - { name: photo, description: "image file (repeatable, first = cover)", required: true, multiple: true }
        - { name: brand, description: "brand slug, e.g. polo-ralph-lauren", required: true }
        - { name: department, description: "menswear / womenswear / kidswear / everything-else", required: true,
            enum: [menswear, womenswear, kidswear, everything-else] }
        - { name: type, description: "product type, e.g. tshirts / jumpers / jeans", required: true }
        - { name: size, description: "human size, e.g. M (omit for one-size)" }
        - { name: condition, description: "item condition", required: true,
            enum: [brand_new, used_like_new, used_excellent, used_good, used_fair] }
        - { name: colour, description: "colour (repeatable, up to 2)", required: true, multiple: true }
        - { name: price, description: "numeric price, e.g. 25", required: true }
        - { name: currency, description: "default USD" }
        - { name: description, description: "listing text (include #hashtags inline, max 5)", required: true }
        - { name: age, description: "e.g. y2k (repeatable, up to 1)", multiple: true }
        - { name: style, description: "e.g. streetwear (repeatable, up to 3)", multiple: true }
        - { name: source, description: "e.g. preloved (repeatable, up to 2)", multiple: true }
        - { name: variant-set, description: "size set id (derived from department/type)",
            x-mastro-resolve: { from: "file:reference/categories.json", keyed: true, value_path: size_set_us,
                                key_template: "${args.department}/${args.type}" } }
        # Variant member id within the size set — the second half of the size
        # mapping (variant-set is the set; this is the member within it). Keyed
        # by "<size_set>/<size>" so it resolves only after variant-set above.
        # Empty when no --size (one-size items) → variants stays {}.
        - { name: variant, description: "size variant id (derived from size set + size)",
            x-mastro-resolve: { from: "file:reference/size_variants.json", keyed: true,
                                key_template: "${args.variant-set}/${args.size}" } }
        - { name: address-id, description: "ship-from address id", required: true }
        - { name: address, description: 'e.g. "San Francisco, United States"', required: true }
        - { name: lat, description: "geo latitude", required: true }
        - { name: lng, description: "geo longitude", required: true }
        - { name: gender, description: "male / female / unisex (derived from department)",
            x-mastro-resolve: { from: "file:reference/department_gender.json", keyed: true,
                                key_template: "${args.department}" } }
        - { name: parcel-size, description: "small/medium/large/xl/xxl (default medium)" }
      x-mastro-workflow:
        result: createListing
        steps:
          # 1. Request an upload slot per photo (returns a presigned S3 URL).
          #    The /api/* picture endpoints live on the webapi host, NOT www
          #    (www serves the Next.js app and 404s these paths) — so override
          #    the URL explicitly. The /presentation/* paths (search, listing)
          #    stay on the www base URL.
          - id: slots
            operationId: uploadPicture
            foreach: "${args.photo}"
            as: photo
            request:
              url: "https://webapi.depop.com/api/v4/pictures/"
              body: { type: product, extension: jpg, dimensions: { width: 1280, height: 1280 } }
            output: { path: url }

          # 2. PUT the bytes to S3 (presigned → no auth, direct transport).
          #    Iterate over the photos so ${item} is each photo path, and pair
          #    it with its slot URL positionally via ${steps.slots.${index}}.
          - id: uploads
            operationId: s3Put
            foreach: "${args.photo}"
            as: photo
            request:
              url: "${steps.slots.${index}}"
              no_auth: true
              headers: { content-type: image/jpeg }
              body: "${file:item}"

          # 3. Derive the numeric picture id from each slot URL. The id is the
          #    digits before "_<sid>/P0.jpg" in the presigned S3 URL, e.g.
          #    .../3928044106_9da0d44.../P0.jpg → 3928044106. validate wants
          #    these as JSON numbers, so coerce. (Pure transform: no HTTP call.)
          - id: pictureIds
            foreach: "${steps.slots}"
            value: "${item}"
            output: { extract: "/(\\d+)_[a-f0-9]+/P0\\.jpg", coerce: number }

          # 4. Validate the uploaded pictures (fire once). On the webapi host.
          - id: validate
            operationId: validatePictures
            request:
              url: "https://webapi.depop.com/internal/v1/pictures/validate/"
              body: { picture_ids: "${steps.pictureIds}" }

          # 5. Poll the batch endpoint until every picture has finished
          #    processing (each id maps to an object with a populated `url`).
          #    The {ids} path param is the comma-joined id list. webapi host.
          - id: pollPictures
            operationId: pictureBatch
            request:
              url: "https://webapi.depop.com/api/v1/pictures/batch/${steps.pictureIds}/"
            poll:
              until: "${steps.pollPictures.${steps.pictureIds.0}.url}"
              attempts: 20
              delay_ms: 1500

          # 6. Create the listing — picture_ids carries the processed ids.
          - id: createListing
            operationId: createListing
            request:
              url: "https://webapi.depop.com/presentation/api/v1/listing/products/"
              body:
                brand: "${args.brand}"
                colour: "${args.colour}"
                condition: "${args.condition}"
                description: "${args.description}"
                gender: "${args.gender}"
                is_kids: false
                country: US
                address: "${args.address}"
                # Depop wants numeric lat/lng, address id, and variant_set — cast
                # them so they serialize as JSON numbers, not strings.
                geo_position_lat: "${num:args.lat}"
                geo_position_lng: "${num:args.lng}"
                price_amount: "${args.price}"
                price_currency: "${args.currency|USD}"
                product_type: "${args.type}"
                national_shipping_cost: "0.00"
                shipping_methods:
                  - payer: buyer
                    parcel_size: "${args.parcel-size|medium}"
                    shipping_provider_id: USPS
                    ship_from_address_id: "${num:args.address-id}"
                attributes: {}
                age: "${args.age|[]}"
                style: "${args.style|[]}"
                source: "${args.source|[]}"
                # Boost is pinned OFF. mastro never enables a paid/free boost on
                # a listing by itself; making it a real choice is separate work,
                # and until then the safe value is the one that costs nothing and
                # surprises nobody. Do not template this off a flag.
                boost: { status: inactive }
                variant_set: "${num:args.variant-set}"
                # Size mapping: variants is { <member-id>: quantity }. The runner
                # drops object entries whose key resolves empty, so a one-size
                # item (no --size → empty variant) yields variants: {}. When a
                # variant is present Depop wants quantity: null (the variant map
                # holds the count); the empty-string key below renders to null.
                variants:
                  "${args.variant}": 1
                quantity: null
                picture_ids: "${steps.pictureIds}"
                listing_lifecycle_id: "${uuid}"
                persistent_id: "${uuid}"
      responses:
        "201": { description: Listing created. }

  # =========================================================================
  # Update a listing — everything except photos.
  #
  # ⚠️ UNVERIFIED SHAPE. Unlike `list`, this flow was NOT recovered from a
  # captured edit: no HAR of a real depop.com listing edit exists yet. The
  # endpoint (PATCH on the create path + /{id}/) and the field names are
  # inferred from the create payload, which is the ground truth for what the
  # listing object holds. What a capture has to settle:
  #   1. method + path — PATCH .../listing/products/{id}/ vs PUT vs a separate
  #      /edit path, and whether {id} is the numeric product id or the slug;
  #   2. partial vs full-replace — if Depop replaces the whole product on write,
  #      this flow needs a read step first (GET the listing, merge, send it all,
  #      picture_ids included) or an edit would drop the fields it omits;
  #   3. whether price edits must carry price_currency, and whether changing
  #      department needs is_kids / variant_set sent alongside.
  # Until then: --dry-run prints the exact body and nothing is sent.
  #
  # Photos are deliberately out of scope here (picture_ids is never sent, so an
  # edit can't disturb them). Photo replacement reuses the upload pipeline the
  # list workflow already has and is tracked separately.
  # =========================================================================
  /x-mastro/update:
    post:
      operationId: update
      x-mastro-command: update
      summary: Update an existing listing (all fields except photos).
      description: >
        Partial update: only the flags you pass are put on the wire, so every
        field you leave out keeps its current value. Photos are not editable
        here. Takes the listing id positionally, e.g.
        `mastro depop update 123456789 --price 20`. The endpoint shape is
        inferred from the create payload and is not yet confirmed against a
        captured edit — always --dry-run first.
      x-mastro-args:
        - { name: id, description: "listing (product) id, from the create response or the listing URL", required: true }
        - { name: price, description: "new numeric price, e.g. 20" }
        - { name: currency, description: "price currency, only if it changes" }
        - { name: description, description: "listing text (include #hashtags inline, max 5)" }
        - { name: brand, description: "brand slug, e.g. polo-ralph-lauren" }
        - { name: condition, description: "item condition",
            enum: [brand_new, used_like_new, used_excellent, used_good, used_fair] }
        - { name: colour, description: "colour (repeatable, up to 2) — replaces the current colours", multiple: true }
        - { name: department, description: "menswear / womenswear / kidswear / everything-else; also re-derives gender",
            enum: [menswear, womenswear, kidswear, everything-else] }
        - { name: type, description: "product type, e.g. tshirts / jumpers / jeans (needs --department too)" }
        - { name: size, description: "human size, e.g. M (needs --department and --type to resolve)" }
        - { name: quantity, description: "stock count, for one-size listings" }
        - { name: age, description: "e.g. y2k (repeatable, up to 1)", multiple: true }
        - { name: style, description: "e.g. streetwear (repeatable, up to 3)", multiple: true }
        - { name: source, description: "e.g. preloved (repeatable, up to 2)", multiple: true }
        - { name: address, description: 'e.g. "San Francisco, United States"' }
        - { name: lat, description: "geo latitude" }
        - { name: lng, description: "geo longitude" }
        - { name: address-id, description: "ship-from address id (shipping block)" }
        - { name: parcel-size, description: "small/medium/large/xl/xxl — sends the whole shipping block" }
        # Derived exactly as in the list workflow: department/type → size set,
        # then size set + size → the variant member id, and department → gender.
        # Each resolves to "" when its inputs weren't passed, which drops the
        # field from the body (that is the whole point of a partial update).
        - { name: variant-set, description: "size set id (derived from department/type)",
            x-mastro-resolve: { from: "file:reference/categories.json", keyed: true, value_path: size_set_us,
                                key_template: "${args.department}/${args.type}" } }
        - { name: variant, description: "size variant id (derived from size set + size)",
            x-mastro-resolve: { from: "file:reference/size_variants.json", keyed: true,
                                key_template: "${args.variant-set}/${args.size}" } }
        - { name: gender, description: "male / female / unisex (derived from department)",
            x-mastro-resolve: { from: "file:reference/department_gender.json", keyed: true,
                                key_template: "${args.department}" } }
      x-mastro-workflow:
        result: updateListing
        steps:
          # One step, but still a workflow: only a workflow step can pin the
          # webapi host (the listing endpoints 404 on www) and only a workflow
          # command supports --dry-run.
          - id: updateListing
            operationId: updateListing
            request:
              url: "https://webapi.depop.com/presentation/api/v1/listing/products/${args.id}/"
              # Every field is `${?...}` — optional. A flag the user didn't pass
              # resolves to nothing and its entry is dropped, so the listing
              # keeps that value. Deliberately absent, whatever the flags say:
              # picture_ids (photos are out of scope), boost (never enabled by
              # mastro), and listing_lifecycle_id / persistent_id (create-time
              # identifiers — regenerating them on an edit would be wrong).
              body:
                price_amount: "${?args.price}"
                price_currency: "${?args.currency}"
                description: "${?args.description}"
                brand: "${?args.brand}"
                condition: "${?args.condition}"
                colour: "${?args.colour}"
                gender: "${?args.gender}"
                product_type: "${?args.type}"
                variant_set: "${?num:args.variant-set}"
                address: "${?args.address}"
                geo_position_lat: "${?num:args.lat}"
                geo_position_lng: "${?num:args.lng}"
                age: "${?args.age}"
                style: "${?args.style}"
                source: "${?args.source}"
                quantity: "${?num:args.quantity}"
                # Size lives in the variants map ({ <member-id>: count }), so it
                # is sent whole or not at all: the `:+` guard keys the entry off
                # the resolved variant, and an empty map would clear the size.
                "${args.variant:+variants}":
                  "${args.variant}": 1
                # Shipping is one block on the wire too — sent only when
                # --parcel-size is passed, so a price edit can't reset it.
                "${args.parcel-size:+shipping_methods}":
                  - payer: buyer
                    parcel_size: "${args.parcel-size}"
                    shipping_provider_id: USPS
                    ship_from_address_id: "${?num:args.address-id}"
      responses:
        "200": { description: Listing updated. }

  /presentation/api/v1/listing/products/:
    post:
      operationId: createListing
      x-mastro-hidden: true
      summary: Create the listing (final step of the list workflow).
      responses:
        "201": { description: Listing created. }

  /presentation/api/v1/listing/products/{id}/:
    patch:
      operationId: updateListing
      x-mastro-hidden: true
      summary: Update the listing (single step of the update workflow).
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Listing updated. }

  /api/v4/pictures/:
    post:
      operationId: uploadPicture
      x-mastro-hidden: true
      summary: Request an S3 upload slot for a product picture.
      responses:
        "201": { description: Presigned upload URL. }

  # Synthetic op for the S3 PUT step (URL comes from the slot; host differs).
  /s3-put:
    put:
      operationId: s3Put
      x-mastro-hidden: true
      summary: PUT image bytes to a presigned S3 URL.
      responses:
        "200": { description: Uploaded. }

  /internal/v1/pictures/validate/:
    post:
      operationId: validatePictures
      x-mastro-hidden: true
      summary: Validate uploaded pictures.
      responses:
        "200": { description: Validation accepted. }

  /api/v1/pictures/batch/{ids}/:
    get:
      operationId: pictureBatch
      x-mastro-hidden: true
      summary: Poll picture processing status.
      parameters:
        - { name: ids, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Picture batch status. }

  # =========================================================================
  # Filter-metadata endpoints — hidden from the CLI, used by x-mastro-resolve
  # =========================================================================
  /presentation/api/v1/search/sizeFilters/:
    get:
      operationId: sizeFilters
      x-mastro-hidden: true
      summary: Size taxonomy (department → category → size-set → size).
      responses:
        "200": { description: Size filter tree. }

  /api/v3/search/categoryFilters/:
    get:
      operationId: categoryFilters
      x-mastro-hidden: true
      summary: Category taxonomy (department → product category).
      responses:
        "200": { description: Category filter tree. }

  /api/v2/search/attributes/brands/byId/:
    get:
      operationId: brandsById
      x-mastro-hidden: true
      summary: Brand id ↔ name lookup.
      responses:
        "200": { description: Brand list. }

  /api/v2/search/filters/filterProductAttributes/:
    get:
      operationId: filterAttributes
      x-mastro-hidden: true
      summary: Condition + colour attribute metadata.
      parameters:
        - name: country
          in: query
          schema: { type: string, default: en }
      responses:
        "200": { description: Condition and colour vocabularies. }
